@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --header-height: 3.5rem;

    /* colors */
    --first-color: rgb(242, 177, 13);
    --first-color-alt: rgb(230, 169, 15);
    --text-color: rgb(107, 107, 107);
    --text-color-light: rgb(235, 235, 235);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0,0,0);
    --body-color: rgb(250, 250, 250);
    --body-second-color: rgb(221, 127, 60);
    --shadow-img: -8px 8px 16px rgba(0, 0, 0, 0.2);
    /* fonts */
    --body-font: "Montserrat", sans-serif;
    --biggest-fs: 4.5rem;
    --big-fs: 2.5rem;
    --h1-fs: 1.5rem;
    --h2-fs: 1.2rem;
    --h3-fs: 1rem;
    --normal-fs: .92rem;
    --small-fs: .8rem;
    --smaller-fs: .72rem;

    /* font weight */
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-ex-bold: 800;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* BASE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,
input,
button{
    font-family: var(--body-font);
    font-size: var(--normal-fs);
}
body{
    background-color: var(--body-color);
    color: var(--black-color);
}
input, button{
    border: none;
    outline: none;
}
h1, h2, h3, h4, h5{
    font-weight: var(--font-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
video{
    max-width: 100%;
}

/* css classes */
.container{
    max-width: 1200px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}
.section__title,
.section__subtitle{
    text-align: center;
}
.section__title{
    font-size: var(--h1-fs);
    font-weight: var(--font-ex-bold);
    color: var(--black-color);
    margin-bottom: 3rem;
}
.section__subtitle{
    display: block;
    font-size: var(--small-fs);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    margin-bottom: .5rem;
}
.main{
    overflow: hidden;
}

/* header */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--black-color);
    font-weight: var(--font-bold);
}
.nav__toggle,
.nav__close{
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .nav__menu{
        position: fixed;
        top: -120%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block: 4rem;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        transition: top .4s;
    }
}
.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.nav__link{
    position: relative;
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
}
.nav__link::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--black-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .4s;
}
.nav__link:hover::after{
    width: 60%;
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
.show-menu{
    top: 0;
}
.bg-header{
    background-color: var(--body-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.active-link::after{
    width: 60%;
}
/* home */
.home{
    position: relative;
    height: 730px;
    background-color: var(--body-second-color);
}
.home__bg,
.home__gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home__bg{
    object-fit: cover;
    object-position: center;
}
.home__gradient{
    background: linear-gradient(180deg, 
    hsla(25, 70%, 55%, 0) 80%,
    hsl(25, 70%, 55%) 100%);
}
.home__data{
    position: absolute;
    top: 17rem;
    justify-self: center;
    text-align: center;
}
.home__subtitle{
    font-size: var(--small-fs);
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
    margin-bottom: .25rem;
}
.home__title{
    font-size: var(--big-fs);
    font-weight: var(--font-ex-bold);
    letter-spacing: 2px;
    color: var(--white-color);
}
.home__button{
    position: absolute;
    bottom: 5rem;
    justify-self: center;
    color: var(--white-color);
    width: 94px;
    height: 94px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 1rem;
    z-index: 5;
}
.home__button span{
    font-weight: var(--font-semi-bold);
}
.home__button i{
    font-size: 1.5rem;
}
.home__swiper{
    position: relative;
}
.home__img{
    width: 300px;
    margin-inline: auto;
}

/* swiper class */
.swiper{
    margin-inline: initial;
    align-self: center;
    margin-bottom: 1rem;
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
    height: max-content;
    top: 30rem;
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}
.swiper-pagination-bullet{
    color: var(--white-color);
    opacity: 1;
    background: none;
    font-size: var(--normal-fs);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.swiper-pagination-bullet-active{
    color: var(--black-color);
}

/* button */
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    color: black;
    padding: .75rem 2rem;
    font-weight: var(--font-semi-bold);
    box-shadow: 0 4px 12px hsla(43, 88%, 32%, .4);
}
.button i{
    font-weight: initial;
    font-size: 1.5rem;
    transition: transform .4s;
}
.button:hover i{
    transform: translateX(.5rem);
}
.button__ghost{
    background-color: transparent;
    box-shadow: none;
    border: 2px solid var(--white-color);
    color: var(--white-color);
}
/* about */
.about{
    background-color: var(--body-second-color);
}
.about__container{
    padding-bottom: 3rem;
    row-gap: 3rem;
}
.about__title{
    color: var(--white-color);
    margin-bottom: 1rem;
}
.about__title span{
    color: var(--black-color);
}
.about__data{
    text-align: center;
}
.about__description{
    margin-bottom: 1.5rem;
    color: var(--white-color);
}
.about__video{
    position: relative;
    width: 250px;
    height: 320px;
    justify-self: center;
    box-shadow: var(--shadow-img);
    transform: skew(-12deg);
    display: grid;
    overflow: hidden;
}
.about__file{
    max-width: initial;
    height: 320px;
    transform: skew(12deg);
    position: absolute;
    justify-self: center;
}

/* models */
.models__container{
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 2rem;
}
.models__card{
    position: relative;
    transform: skew(-12deg);
    box-shadow: var(--shadow-img);
}
.models__gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 70%,
    hsl(0, 0%, 0%) 100%);
}
.models__data{
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    color: var(--white-color);
    transform: skew(12deg);
}
.models__name{
    font-size: var(--h3-fs);
    margin-bottom: .25rem;
    transition: transform .4s, opacity .4s;
}
.models__info{
    display: block;
    font-size: var(--small-fs);
    transition: transform .4s .1s, opacity .4s .1s;
}
.models__name,
.models__info{
    transform: translateX(5rem);
    opacity: 0;
}
.models__card:hover :is(.models__name, .models__info){
    transform: translateX(0);
    opacity: 1;
}

/* info */
.info__container{
    row-gap: 3.5rem;
    padding-bottom: 2.5rem;
}
.info__title{
    margin-bottom: 5rem;
}
.info__content{
    position: relative;
    display: grid;
}
.info__number{
    font-size: var(--biggest-fs);
    color: var(--text-color-light);
    position: absolute;
    top: -3.5rem;
    justify-self: center;
}
.info__img{
    width: 300px;
    justify-self: center;
    z-index: 5;
}
.info__data{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.info__group h3{
    font-size: var(--small-fs);
    margin-bottom: .5rem;
}
.info__group p{
    font-size: var(--smaller-fs);
    color: var(--text-color);
    text-align: center;
}

/* contact */
.contact{
    background-color: var(--body-second-color);
}
.contact__container{
    row-gap: 3rem;
    padding-bottom: 2rem;
}
.contact__title{
    color: var(--white-color);
    margin-bottom: 4rem;
}
.contact__form{
    row-gap: 2rem;
}
.contact__inputs{
    row-gap: 2.5rem;
}
.contact__box{
    position: relative;
    width: 100%;
    height: 58px;
}
.contact__input{
    width: 100%;
    height: 100%;
    background-color: var(--body-second-color);
    border: 2px solid var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: .75rem;
    color: var(--white-color);
}
.contact__input::placeholder{
    color: var(--white-color);
}
.contact__label{
    position: absolute;
    top: -1.5rem;
    left: 0;
    color: var(--white-color);
    font-size: var(--smaller-fs);
    font-weight: var(--font-semi-bold);
}

.contact__input:-webkit-autofill{
    transition: background-color 6000s, color 6000s;
}
.contact__button{
    cursor: pointer;
}
.contact__img{
    width: 250px;
    transform: skew(-12deg);
    justify-self: center;
    box-shadow: var(--shadow-img);
}

/* footer */
.footer{
    background-color: var(--body-second-color);
    padding-block: 2rem;
}
.footer__container{
    row-gap: 3rem;
}
.footer__logo{
    justify-self: flex-start;
    color: var(--white-color);
    font-size: var(--h3-fs);
    font-weight: var(--font-bold);
}
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.footer__link{
    color: var(--white-color);
}
.footer__social{
    display: flex;
    column-gap: .75rem;
}
.footer__social-link{
    color: var(--white-color);
    font-size: 1.5rem;
    transition: transform .4s;
}
.footer__social-link:hover{
    transform: translateY(-.25rem);
}

/* scroll bar */
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(0,0%, 80%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0,0%, 60%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0,0%, 50%);
}

/* scroll bar */
.scroll-up{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--body-color);
    box-shadow: 0 4px 15px hsla(0,0%,0%,.1);
    color: var(--black-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.3rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}
.scroll-up:hover{
    transform: translateY(-.5rem);
}
.show-scroll{
    bottom: 3rem;
}
